html {
    font-family: 'Open Sans', sans-serif;
}

/* Reset */

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: o;
}

.container {
    max-width: 1920px;
    width: 100%;
}

/* header */

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #000;
    border-bottom: 3px solid #CCC;
}

nav:after {
    clear: both;
    content: "";
    display: block;
} 

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

#logo:hover {
    width: 70px;
    height: 70px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container ul li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container ul li a {
    text-decoration: none;
    color: #FFF;
    transition: .5s;
}

.nav-container ul li a:hover {
    color: #CCC;
    font-size: 20px;
}

#main-banner {
    background: url(../img/banner.jpeg) no-repeat;
    background-size: cover;
    background-position: 0 90%;
    position: relative;
    margin-top: 85px;
}

.text-banner {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-bottom: 30em;
    text-align: center;
    color: #FFF;
}

.text-banner h1 {
    font-size: 50px;
}

.text-banner p {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
}

/* Seção sinopse */

.wrapper {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
} 

.title-center {
    text-align: center;
    font-size: 36px;
    margin-bottom: 3em;
}

#synopsis-container {
    text-align: center;
    padding: 100px;
}

.horizontal-line {
    width: 1200px;
    border: 1px solid #CCC;
    margin-top: 150px;
}

/* Personagens */

.character-box {
    display: inline-block;
    width: 31%;
    padding: 1%;
    text-align: center;
}

.character-box p {
    font-size: 0.9em;
}

.btncharacters-container {
    margin-top: 30px;
    text-align: center;
}

.btn-characters {
    text-transform: uppercase;
    background-color: #000;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.5s;
}

.btn-characters:hover {
    background-color: #FFF;
    color: #000;
}

/* Temporadas */

.some-seasons-left {
    float: left;
    width: 40%;
}

.season-img {
    width: 100%;
    border-radius: 5px;
}

.season-tummary-right {
    float: right;
    width: 57%;   
}

.space-season {
    padding-bottom: 30em;
}

.some-seasons-right {
    float: right;
    width: 40%;
}

.season-img {
    width: 100%;
}

.season-tummary-left {
    float: left;
    width: 57%;   
}

.btnseason-container {
    text-align: center;
    margin-top: -80px;
    margin-bottom: 100px;
}

/* Footer */

footer {
    background-color: #000;
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 3px solid #CCC;
    text-align: center;
}

footer img {
    width: 50px;
    height: 50px;
}

footer p {
    color: #FFF;
}


/* Responsive */

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
} 








